<div class="entry">
  <h1>{{first_name}} {{last_name}}</h1>
  <p><span class="label">Email</span><span class="value">{{email}}</span></p>
  <p><span class="label">Diocese</span><span class="value">{{diocese}}</span></p>
  <p><span class="label">City</span><span class="value">{{city}}</span></p>
</div>