<h2>Account</h2>
<fieldset>
    <legend>Account Status:</legend>
    <input type="radio" name="account_status" id="account_status_1" value="1" checked="checked" />
    <label for="account_status_1">Active</label>
    
    <input type="radio" name="account_status" id="account_status_2" value="2" />
    <label for="account_status_2">Inactive</label>
</fieldset>
<fieldset>
   <legend>Account Roles:</legend>
   <input type="checkbox" name="account_role_1" id="account_role_1" />
   <label for="account_role_1">Priest</label>

   <input type="checkbox" name="account_role_2" id="account_role_2" />
   <label for="account_role_2">Administrator</label>
</fieldset>
<fieldset>
    <legend>Password:</legend>
    <button type="button">Reset</button>
</fieldset>

<h3>Name & Office</h3>
<div class="field">
	<label for="user_first_name">First name</label><br>
	<input id="user_first_name" name="user[first_name]" type="text" value="{{first_name}}" />
</div>
<div class="field">
	<label for="user_last_name">Last name</label><br>
	<input id="user_last_name" name="user[last_name]" type="text" value="{{last_name}}" />
</div>
<div class="field">
  <label for="user_salutation">Salutation</label><br>
  <input id="user_salutation" name="user[salutation]" type="text" value="{{salutation}}" />
<h3>Contact Info</h3>
<div class="field">
	<label for="user_home_phone">Home phone</label><br>
	<input id="user_home_phone" name="user[home_phone]" type="text" value="{{home_phone}}" />
</div>
<div class="field">
	<label for="user_mobile_phone">Mobile phone</label><br>
	<input id="user_mobile_phone" name="user[mobile_phone]" type="text" value="{{mobile_phone}}" />
<div class="field">
	<label for="user_email">Email</label><br>
	<input id="user_email" name="user[email]" type="text" value="{{email}}" />
</div>
<div class="field">
	<label for="user_street_address">Street address</label><br>
	<input id="user_street_address" name="user[street_address]" type="text" value="{{street_address}}" />
</div>
<div class="field">
	<label for="user_city">City</label><br>
	<input id="user_city" name="user[city]" type="text" value="{{city}}" />
</div>
<div class="field">
	<label for="user_parish">Parish</label><br>
	<input id="user_parish" name="user[parish]" type="text" value="{{parish}}" />
</div>
<h3>About Me</h3>
<div class="field">
	<label for="user_about_me">About me</label><br>
	<textarea id="user_about_me" name="user[about_me]">{{about_me}}
</textarea>
</div>
